body {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-image: url(images/hero.jpeg);
    height: 750px;
}

/* Nav Bar Below */

.navbar {
    display: flex;
    align-items: center;
    background: white;
    height: 50px;
    box-shadow: 0 0 5px 0 rgb(43, 42, 42);
}

.links {
    width: 350px;
    word-spacing: 40px;

}

.logo {
    flex: 1;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'lato';
    font-weight: 300;
    color: black;
}

h1 {
    font-size: 22px;
    font-family: 'lato';
    font-weight: 300;
}

#br {
    font-weight: 700;
    padding-right: 10px;
}

/* Hero Below */

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 320px 0 0 0;
}

h2 {
    font-size: 38px;
    font-family: 'lato';
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

#header {
    margin-right: 10px;
    background: rgba(15, 17, 19, 0.8);
    padding: 5px 15px;
    font-weight: 700;
}

/* Sub Hero Section - Projects and Layout */

.project-container {
    max-width: 98%;
}

.projects {
    margin: 60px 0 60px 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:lighter;
    border-bottom: 1px rgba(84, 78, 78, 0.2) solid;
}

img {
    width: 300px;
    height: auto;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between 20px;
    row-gap: 20px;
    column-gap: 25px;
    margin-left: 35px;
    margin-bottom: 40px;
}

/* Image Text */ 

.image-container {
    position:relative;
    text-align: center;
    color: white;
}

.image-text {
    position:absolute;
    top: 10px;
    left: 10px;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
    margin: -10px 0 0 -10px;
}


